.about_body {
  background: #3e5151;
  background: -webkit-linear-gradient(to right, rgb(158, 156, 151), #3e5151);
  background: linear-gradient(to right, rgb(158, 156, 151), #3e5151);
  background-size: cover;
  /* background-position: center center; */
  height: 800px;
  width: 100%;
  /* position: relative; */
  /* z-index: -1; */
}

.about_nav {
  position: relative;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
}

.navbar {
  display: flex;
}

.AboutVideo {
  height: 100%;
  width: 100%;
  top: 0px;
  bottom: 0px;
  position: relative;
  z-index: -1;
}

.about_text {
  width: 100%;
  position: absolute;
  z-index: 2;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

h2 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 65px;
  display: flex;
  margin-right: 20px;
  z-index: 3;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.animation_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}



.text_container {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 65px;
    height: 80px;
    width: auto;
    display: flex;
    position: absolute;
    margin-right: 20px;
    margin-left: 5px;
    z-index: 3;
    color: white;
    white-space: nowrap;
    justify-content: space-around;
    background-color: none;
}

.typewriter {
    width: 80%;
    margin-left: 10px;    
    display: flex;
    justify-content: flex-end;
}


#wilderness {
    color: rgb(107, 110, 110);
}

@media (max-width:1000px) {
    .text_container {
        font-size: 50px;
    }
}

@media (max-width:850px) {
    #wilderness {
        color: white;
    }

    .text_container {
        font-size: 40px;
        white-space: pre-wrap;
        /* background-color: red; */
        height: 120px;
        margin-top: 500px;
    }
}

@media (max-width:550px) {
    .text_container {
        font-size: 35px;
        margin-top: 450px;
    }
}

@media (max-width:375px) {
    .text_container {
        font-size: 30px;
        margin-top: 420px;
    }
} 